
<div class="login-container">
  <h2 class="welcome"> Welcome to Personal Expense Tracker</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="example@email.com" />
      <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" style="color: red;">
        Valid email required
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" style="color: red;">
        Password is required
      </mat-error>
    </mat-form-field>
    <br>
    <button class="btn btn-success" type="submit">Login</button>
    <br>
    
  </form>
</div>