<div>
    <input placeholder="id" [(ngModel)]="studentForm.id"/>
    <input placeholder="name" [(ngModel)]="studentForm.name"/>
    <input placeholder="age" [(ngModel)]="studentForm.age"/>
    <input placeholder="grade" [(ngModel)]="studentForm.grade"/>
    <input placeholder="email" [(ngModel)]="studentForm.email"/>
    <button (click)="addUpdateStudent()">Submit</button>
</div>
<div>
    <table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Grade</th>
      <th>Email</th>
      <th>Age</th>
      <th>Actions</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.grade }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.age }}</td>
      <td>
        <button (click)="editStudent(student)">Edit</button>
      <button (click)="deleteStudent(student.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

</div>